*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar{
    height: 70px;
    background: #2ecc71;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.navbar .logo{
    font-size: 28px;
    font-weight: bold;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.auth button{
    background: white;
    color: #2ecc71;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

.auth button:hover{
    background: #e5e5e5;
}

/* HERO BANNER */
.hero{
    height: 300px;
    background: url('https://i.ibb.co/jzLcj5L/grocery.jpg') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    color: white;
    text-shadow: 2px 2px 8px black;
}

.hero h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.shop-btn{
    width: 150px;
    height: 45px;
    background: #2ecc71;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
}

/* FEATURED PRODUCTS */
.featured{
    margin-top: 40px;
    text-align: center;
}

.featured h2{
    font-size: 28px;
    margin-bottom: 25px;
    color: #333;
}

.product-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    width: 250px;
    background: white;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    padding-bottom: 20px;
}

.card img{
    width: 100%;
    height: 160px;
    border-radius: 10px 10px 0 0;
}

.card h3{
    margin-top: 15px;
    font-size: 20px;
}

.card p{
    font-size: 15px;
    margin: 5px 0;
    color: #555;
}

.card button{
    background: #2ecc71;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.card button:hover{
    background: #27ae60;
}
